<link rel="stylesheet" type="text/css" href="css/sync.css">

<h1>sync</h1>
<div class="page">
	<div class="center">
		<p class="note">Scan this QR Code with your application.</p>
		<div id="qrcode" data-sid="{{sid}}"></div>
	</div>
</div>