body {
    font-size: 14px;
    background-color: #fafafa;
    color: #444;
}

* {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

button,
.button {
    background-color: #2196F3;
    color: #fff;
    border-radius: 2px;
    border: none;
    padding: .5em .7em;
    margin: .19em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    cursor: pointer;
}

button:active,
.button:active {
    box-shadow: none;
}

button.success,
.button.success {
    background-color: #8BC34A;
}

button.danger,
.button.danger {
    background-color: #F44336;
}

h1>button,
h1>.button {
    font-size: 1rem;
}

table {
    border-collapse: collapse;
}

table>thead>tr>th {
    border: 1px solid #DEDEDE;
    font-weight: 400;
    padding: 5px;
    font-size: 1.1em;
    background-color: #00bcd4;
    color: #FFF;
}

table>tbody>tr>td {
    border: 1px solid #DDD;
    margin: 0;
    padding: 5px;
    font-size: 1em;
    -webkit-transition: background-color .4s ease;
}

table>tbody>tr:hover>td {
    background-color: #FFE082;
    color: #333;
}

table>thead>tr>th:first-child,
table>tbody>tr>td:first-child {
    border-left-style: none;
}

table>thead>tr>th:last-child,
table>tbody>tr>td:last-child {
    border-right-style: none;
}

.page-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    padding: 10px;
    background-color: #03a9f4;
    color: #ffffff;
    z-index: 2;
}

.page-body {
}

.page-body>h1 {
    box-shadow: 0px 2px 6px rgba(51, 51, 51, 0.5);
    position: fixed;
    top: 90px;
    width: 100%;
    height: 39px;
    margin-top: 0;
    padding: 10px;
    background-color: #03a9f4;
    color: #ffffff;
    font-size: 1.2em;
    z-index: 1;
}

.page-body>.page {
    margin-top: 140px;    
}