<div class="page" data-page-id="remote" data-page-title="remote">
	<h4>pid: {{pid}}</h4>
	<a class="waves-effect waves-light red btn" data-action="dropdatabase" data-confirm-title="Drop current database?" data-confirm-message="Restart app after you drop the database.">Drop database</a>
    <a class="waves-effect waves-light btn" data-action="restart" data-confirm-title="Restart application?" data-confirm-message="This may take a few seconds.">Restart app</a>
</div>
