<link rel="stylesheet" type="text/css" href="css/remote.css">

<h1>remote :: {{pid}}</h1>
<div class="page">
    <button class="danger" data-action="stop">Stop</button>
    <button data-action="restart">Restart</button>
</div>
