<h1>sync list (debug) <a href="#" class="right">home</a></h1>
<div class="page" data-page-id="synclist">
    <table class="center">
        <thead>
            <tr>
                <th>sid</th>
                <th>lastSync</th>
                <th>remoteIp</th>
                <th>status</th>
                <th colspan="4">action</th>
            </tr>
        </thead>
        <tbody>
            {{#syncitems}}
            <tr>
                <td>{{sid}}</td>
                <td data-format="datetime">{{lastSync}}</td>
                <td>{{remoteIp}}</td>
                <td data-format="status">{{status}}</td>
                <td><a href="#" data-action="sync" data-sid="{{sid}}">sync</a></td>
                <td><a href="#" data-action="expire" data-sid="{{sid}}">expire</a></td>
                <td><a href="#" data-action="remove" data-sid="{{sid}}">remove</a></td>
                <td><a href="#sync/comics/{{sid}}">comics</a></td>
            </tr>
            {{/syncitems}}
        </tbody>
    </table>
</div>
