<h1>sync comics <a href="#" class="right">home</a></h1>
<div class="page with-searchbox synccomics" data-page-id="synccomics">
    <div class="comics-list" data-sid="{{sid}}" data-timeout="{{timeout}}">
        {{#comics}}
        <div class="comics" data-id="{{_id}}" data-search="{{search}}">
            <div class="publisher">{{publisher}}</div>
            <div class="name">{{name}}</div>
            <div class="authors">{{authors}}</div>
        </div>
        {{/comics}}
    </div>
    <div class="clear"></div>
</div>
