body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
    color: #444;
}

* {
    box-sizing: border-box;
}

nav .brand-logo {
    margin-left: 10px;
}

nav .header {
    line-height: 80px;
    height: 80px;
}

nav .page-title {
    font-size: .5em;
}

.page-body {
    padding: 0 10px;
}

.page-body>.page {
    margin-top: 60px;
}

.page-body>.page.with-searchbox {
    margin-top: 90px;
}

.card-label {
    font-size: .75em;
    border-bottom: solid 1px #dedede;
    margin-bottom: 7px;
}

.card-price {
    font-size: .5em;
}

.card-notes {
    font-size: .9em;
    font-style: italic;
    padding-left: 0!important;
}

@media only screen and (min-width: 601px) {
    .card.smallest {
        height: 260px;
    }
}
